.exp-item{
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 20px;
   
}
.progress-line{
    margin-top: 7px;
    height: 10px;
    width: 100%;
    background-color: #cdcdcd;
    border-radius: 50px;
    position: relative;
}
.progress-line span {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin:left;
    transform-origin: left;
    -webkit-animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    height: 100%;
    border-radius: 50px;
    position: absolute;
    background-color: #fd6e0a;
    transition: 1s all;

}
.progress-line span.animate{
    -webkit-animation: animate 1.5s 0.5s cubic-bezier(1, 0, 0.5,1) forwards;
    animation: animate 1.5s 0.5s cubic-bezier(1, 0, 0.5,1) forwards;
}

@-webkit-keyframes showText{
    100%{
        opacity: 1;
    }
}
@keyframes showText{
    100%{
        opacity: 1;
    }
}

@-webkit-keyframes animate{
    100%{
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}

@keyframes animate{
    100%{
        opacity: 1;
    }
}

/* .description{
    width: 600px;
  margin-top: -50%;
   background-color: black;
    color: aliceblue;
    top: 2%;
    left: 20%;
} */
.carousel-boult{
    display: flex;
    align-items: center;
    margin-top: 100px;
    justify-content: center;
}
.carousel-boult span {
    width: 45px;
    height: 5px;
    background-color:orangered;
    margin-left: 10px;
    border-radius: 10px;
    cursor: pointer;
    
}